<div class="mt-4 mb-4">
    <div class="row">
        {{#each courses}}
            <div class="col-sm-6 col-lg-4">
                <div class="card mt-4">
                    <a href="/courses/{{this.slug}}">
                        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                    </a>
                    <div class="card-body">
                        <a href="/courses/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.description}}.</p>
                        <a href="#" class="btn btn-primary">Mua khóa học</a>
                    </div>
                </div>
            </div>

            {{else}}
            <div class="col-12 text-center">
                Hiện chưa có khóa học nào.
            </div> 
        {{/each}}
    </div>

    <!-- Pagination -->
    <div class="mt-4 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link {{#unless configPagination.canPrev}} disabled {{/unless}}" href="?page={{configPagination.prevPage}}"  aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {{#each configPagination.pageItems}}
                {{#if this.isActive}}
                <li class="page-item active"><a class="page-link" href="javascript:;">{{this.item}}</a></li>
                {{else}}
                <li class="page-item"><a class="page-link" href="?page={{this.item}}">{{this.item}}</a></li>
                {{/if}}
              {{/each}}
              <li class="page-item">
                <a class="page-link {{#unless configPagination.canNext}} disabled {{/unless}} " href="?page={{configPagination.nextPage}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>
</div>
